.pokemon-detail{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1% auto;
    padding: 8%;
    align-items: center;
    box-sizing: border-box;
    img{
        width: 150px;
        height: 150px;
    }
}
button{
    width: 150px;
    height: 50px;
    margin: 0 auto;
}